h1 {
    font-family: 'Sofia';
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase
}


p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: bold;
}